# Python virtual environment
.venv/
venv/
__pycache__/
*.pyc

# Environment variables and secrets
.env

# Config files that might contain sensitive data
config.json

# Exported data
*.csv
*.xlsx

#exported images
*.png

# IDE and editor files
.vscode/
.idea/

# Mac/Windows system files
.DS_Store
Thumbs.db

#VScode workspace
*.codeworkspace

#OAuth Token
token.json
cloud.json

#exlude .zip files
*.zip

#ignore files in the .clinerules directory
.clinerules/